
$bgDefault      : rgba(86,83,76,0.53)
$bgHighlight    : #56534c
$colDefault     : #ffffff
$colHighlight   : #ffffff
$dropDown       : true
$borderDash     : rgb(158,156,147)
$gradient       : rgba(86,83,76,0.7)