
$bgDefault      : rgba(86,83,76,0.53)
$bgHighlight    : #56534c
$colDefault     : #ffffff
$colHighlight   : #ffffff
$dropDown       : true
$borderDash     : rgb(158,156,147)
$gradient       : rgba(86,83,76,0.7)
$gold1          : #c9b176
$gold2          : #a47d5e
$gray1          : #b6b5b1