#footer
  background: #F3F1E9
  font-family: 'Alegreya'
  .container
    padding-top: 112px
    padding-bottom: 75px
    ul
      list-style: none
      width: 100%
      margin: 0
      padding: 0 20px
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      border-top: 1px solid $gray3
      border-bottom: 1px solid $gray3
      text-shadow: 0 0 70px $shadow, 0 0 70px $shadow, 0 0 70px $shadow
      .footer-item
        margin: auto auto
        a
          text-decoration: none
          color: black
          font-size: 14px
          letter-spacing: 4px
        p
          margin: 0
          font-size: 14px
    .footer-brand
      font-family: Scriptina
      font-size: 30px
      letter-spacing: 9px
      padding: 7px 0 18px 0px
      margin: auto 40px
      a
        color: black
        text-decoration: none
@media (max-width: 991px)
  #footer .container
    display: grid
    grid-template-columns: 1fr
    ul
      padding: 10px 100px
      .footer-item
        margin: auto auto
        a
          text-decoration: none
          color: black
          font-size: 10px
          letter-spacing: 4px
        p
          margin: 0
          font-size: 14px
    .footer-brand
      margin: auto auto
@media (max-width: 991px)
  #footer .container
    padding-top: 40px
    padding-bottom: 40px
    ul
      padding: 10px 30px
    .footer-brand
      font-size: 20px
@media (max-width: 400px)
  #footer .container
    padding-top: 20px
    padding-bottom: 20px
    ul
      padding: 10px