#hero
    background: url('../../img/bg1.png')
    background-position: center center no-repeat
    background-size: cover
    height: 900px
    text-align: center
.jumbotron
    background: none
    margin-top: 68px
    