#hero
    background: radial-gradient(circle,$gradient 10%, transparent 40%), url('../../img/bg1.png') no-repeat
    background-position: top
    background-size: cover
    text-align: center
    border-bottom: 10px solid white
    .jumbotron
        margin: 7.1vh 0 0.4vh 0
        background: none
    h1
        color: white
        font-size: 92px
        font-family: Playfair Display
        letter-spacing: 6.5px
        margin: 6.5vh 0 5.3vh 0
    h3
        color: white
        font-family: Proxima Nova Rg
        font-size: 24px
        letter-spacing: 2.4px
        margin: 5.8vh 0 6.5vh 0
        line-height: 1.5
    #cta
        height: 50px
        color: white
        font-size: 14px
        font-family: Alegreya
        letter-spacing: 4px
        background-color: $bgDefault
        border: 1px dashed $borderDash
        border-radius: 0
        padding: 0 49px
        margin-bottom: 10.3vh
        line-height: 50px
#hero:after
    content: ""
    display: block
    position: relative
    margin: 0 auto -60px auto
    $dim: 106px
    height: $dim
    width: $dim
    border-radius: 50%
    background: url('../../img/bread.png')center no-repeat
    background-size: cover
@media (max-width: 991px)
    #hero
        h1
            font-size: 60px
        h3
            font-size: 20px
@media (max-width: 768px)
    #hero
        background: radial-gradient(circle,$gradient 100%, transparent 100%), url('../../img/bg1.png') no-repeat
        background-position: top
        background-size: cover no-repeat
        .jumbotron
            padding: 0
            margin: 0px 0 10px 0
        h1
            margin: 60px auto 20px auto
            font-size: 40px
        h3
            font-size: 20px
            margin: 20px auto 30px auto
@media (max-width: 400px)
    #hero
        .jumbotron
            padding: 0
            margin: 0px 0 10px 0
        h1
            margin: 35px auto 15px auto
            font-size: 26px
        h3
            font-size: 15px
            margin: 15px auto 30px auto
        #cta
            margin-bottom: 10px
            padding: 0 30px
    
    
