#s3
    background: url('../../img/bg4.png')
    background-position: center center
    background-size: cover
    z-index: 2
    height: 760px
    color: white
    .container
        display: grid
        grid-template-columns: repeat(2,1fr)
        padding: 89px 0 0 0
        position: relative
        #price
            text-align: center
        #menu
            width: 441px
            height: 605px
            background: url('../../img/menu-background.png')
            background-position: center center
            background-size: cover
            color: $gray2
            text-align: center
            justify-self: flex-end
            margin-right: 20px