#s2
    background: url('../../img/bg3.png') no-repeat
    background-position: center center
    background-size: cover
    font-family: Alegreya
    z-index: 3
    #slider
        position: relative
        text-align: center
        margin: 140px auto 110px 4.9vw
        display: flex
        box-shadow: 0 25px 54px $shadow
        #rating
            position: absolute
            display: grid
            align-items: center
            grid-template-columns: 1fr
            left: 30px
            top: calc(50% - 74px)
            height: 148px
            z-index: 6
            img
                cursor: pointer
        #ready
            height: 200px
            width: 200px
            background: url('../../img/ready40.png')
            background-position: center
            background-size: cover
            position: absolute
            right: 0
            margin: -45px -105px auto auto
            box-shadow: 0 25px 54px $shadow
            overflow: hidden
            z-index: 4
            img
                max-width: 100%
            h5
                font-size: 18px
                font-weight: bold
                color: $gold2
                text-transform: uppercase
                letter-spacing: 2px
                margin: 32px auto -10px auto
            h2
                color: $gold3
                font-size: 92px
                font-weight: bold
                letter-spacing: 11px
                margin: 0 0 -3px 0
            h6
                font-size: 18px
                font-weight: bold
                letter-spacing: 2px
        #food
            position: relative
            height: 26.6vw
            max-width: 21.9vw
            overflow: hidden
            text-align: center
            img
                height: 100%
                margin-left: -77.5%
        #cap
            background-color: white
            min-height: 26.6vw
            width: 28.5vw
            text-align: left
            padding: 0 60px 0 62px
            position: relative
            box-shadow: 0 2px $shadow
            background-image: url('../../img/windmill.png')
            background-repeat: no-repeat
            background-position: right bottom
            h2
                font-size: 2.52vw
                font-weight: bold
                letter-spacing: 1px
                margin: 3.68vw 0 5px 0
            h5
                font-size: 14px
                font-weight: bold
                color: $gold2
                text-transform: uppercase
                letter-spacing: 1.2px
                margin-bottom: 3.15vw
            p
                font-family: Proxima Nova Rg
                font-size: 14px
                line-height: 24px
                letter-spacing: 1.4px
            #sliderNav
                display: grid
                grid-template-columns: 45px repeat(3, auto) 45px
                margin: auto 0 40px 0
                position: absolute
                bottom: 0
                width: calc(100% - 122px)
                max-width: 100%
                .arrow
                    $arrow: 33px
                    height: $arrow
                    width: $arrow
                    background-position: center center
                    background-size: cover
                    margin-top: auto
                    margin-bottom: auto
                    cursor: pointer
                #left
                    background-image: url('../../img/left.png')
                    &:hover
                        background-image: url('../../img/left-active.png')
                #right
                    background-image: url('../../img/right.png')
                    margin-left: auto
                    &:hover
                        background-image: url('../../img/right-active.png')
                .preview
                    text-align: center
                #first
                    margin-right: auto
                #third
                    margin-left: auto
        #cap:before
            content: ""
            position: absolute
            display: block
            height: 50px
            width: 50px
            border-radius: 50%
            background: url('../../img/menu.png') center center no-repeat
            background-color: white
            margin: auto auto auto -25px
            left: 0
            top: calc(50% - 25px)
@media (max-width: 1600px)
    #s2
        #slider
            justify-items: center
            margin: 140px auto 110px auto
            #food
                max-height: 26.6vw
                width: 26.3vw
            #cap
                min-height: 26.6vw
                width: 34.2vw
                height: 100%
                padding: 0 3.75vw 0 3.875vw
                p
                    overflow: auto
                    height: 80px
            #cap #sliderNav
                grid-template-columns: 2.81vw repeat(3, auto) 2.81vw
                .arrow
                    $arrow: 25px
                    height: $arrow
                    width: $arrow
@media (max-width: 1400px)
    #s2
        .container
            height: 100%
            #slider
                text-align: center
                display: block
                margin: 140px auto 110px auto
                width: 60vw
                height: 100%
                #rating
                    top: calc(25% - 74px)
                    height: 148px
                #food
                    min-width: 100%
                    img
                        width: 100%
                        margin: 0
                #cap
                    min-height: 26.6vw
                    width: 100%
                    padding: 30px 3.75vw 0 3.875vw
                    position: relative
                    padding: 
                    text-align: center
                    background-size: 50%
                    h2
                        margin-top: 0
                    #sliderNav
                        position: relative
                        margin: 0 auto 2.1vw auto
                        width: 60%
                        grid-template-columns: repeat(5, auto)
                        .preview img
                            height: 6.5vw
                        #first, #third
                            margin: 0
                #cap:before
                    content: ""
                    position: absolute
                    display: block
                    height: 50px
                    width: 50px
                    border-radius: 50%
                    background: url('../../img/menu.png') center center no-repeat
                    background-color: white
                    -webkit-transform: rotate(90deg)
                    transform: rotate(90deg)
                    margin: -25px auto auto auto
                    top: 0
                    left: calc(50% - 25px)
@media (max-width: 991px)
    #s2 .container #slider
        width: 80vw
        #rating
            align-items: center
            grid-template-columns: repeat(5, 1fr)
            left: 30px
            top: 30px
            width: 148px
            height: auto
        #ready
            height: 150px
            width: 150px
            margin: -2.8vw -6.56vw auto auto
            display: flex
            flex-direction: column
            align-content: stretch
            h5
                font-size: 15px
                margin: 32px auto -10px auto
            h2
                font-size: 60px
            h6
                font-size: 15px
        #food
            max-height: 100%
            height: auto
        #cap
            padding: 30px 50px 10px 50px
            h2
                font-size: 3vw
            h5
                font-size: 1.5vw
            p
                font-style: 12px
            #sliderNav
                width: 80%
                .preview img
                    height: 10vw
@media (max-width: 600px)
    #s2 .container #slider
        margin: 60px auto 60px auto
        #ready
            height: 100px
            width: 100px
            margin: -3.5vw -6.56vw auto auto
            display: flex
            flex-direction: column
            align-content: stretch
            h5
                font-size: 10px
                margin: 20px auto -10px auto
            h2
                font-size: 40px
            h6
                font-size: 10px
        #cap
            padding: 30px 30px 10px 30px
            h2
                font-size: 4vw
            h5
                font-size: 2vw
            p
                font-size: 10px
                line-height: 12px
                height: 12vw
                overflow: auto
@media (max-width: 400px)
    #s2 .container #slider #cap
            #sliderNav
                grid-template-columns: 4vw repeat(3, auto) 4vw
                .arrow
                    $arrow: 15px
                    height: $arrow
                    width: $arrow
    #s2 .container #slider #cap:before
        height: 30px
        width: 30px
        margin: -15px auto auto auto
        top: 0
        left: calc(50% - 15px)