#s3
    background: url('../../img/bg4.png')
    background-position: center center
    background-size: cover
    z-index: 2
    // height: 760px
    color: white
    .container
        display: grid
        grid-template-columns: repeat(2,1fr)
        $topdist: 90px
        $bottomdist: 70px
        padding: $topdist 0 $bottomdist 0
        font-family: 'Alegreya'
        #price
            text-align: center
            display: flex
            flex-direction: column
            justify-content: space-between
            margin: -11px 0 6px 107px
            img
                padding-bottom: 10px
            #title
                justify-self: flex-start
                padding-bottom: 48px
                h3
                    font-size: 60px
                    font-weight: bold
                    letter-spacing: 3px
                    margin: 0
                h5
                    text-transform: uppercase
                    color: $gold4
                    font-size: 18px
                    letter-spacing: 0.8px
                    font-weight: bold
                    line-height: 17px
            .subtitle
                font-size: 30px
                font-weight: bold
                letter-spacing: 1.5px
                margin-bottom: 5px
            .caption
                font-family: 'Proxima Nova Rg'
                font-size: 16px
                letter-spacing: 0.8px
                margin-bottom: 13px
                color: $gray3
            .pricetag
                font-size: 36px
                letter-spacing: 1.5px
                color: $gold3
        #menus
            display: flex
            position: relative
            margin-left: auto
            margin-right: 20px
            .menu
                width: 441px
                height: 600px
                top: 0
                bottom: 0
                right: 0
                left: 0
                background: url('../../img/menu-background.png')
                background-position: center left
                background-size: cover
                background-repeat: no-repeat
                color: $gray2
                text-align: center
                margin-left: auto
                padding: 10px
                position: absolute
                display: flex
                flex-direction: column
                top: 50%
                transform: translateY(-50%)
                .top
                    display: flex
                    justify-content: space-around
                    margin-top: 40px
                    margin-bottom: auto
                    padding: 0 10px
                    h5
                        font-weight: bold
                        font-size: 14px
                h3
                    font-size: 44px
                    font-weight: bold
                    line-height: 60px
                    letter-spacing: 1px
                    padding-bottom: 22px
                p
                    font-family: 'Proxima Nova Rg'
                    font-size: 14px
                    width: 330px
                    margin: 0 auto
                    letter-spacing: 0.7px
                    line-height: 30px
                    padding-bottom: 43px
                .btn
                    font-family: 'Alegreya'
                    background-color: transparent
                    border: 1px solid $gray4
                    border-radius: 0
                    width: 190px
                    height: 50px
                    margin: 0 auto 60px auto
                    font-size: 18px
                    font-weight: bold
                    color: $gold2
            #light
                z-index: 5
                // display: none
                box-shadow: 0 18px 16px $shadow3
            #mid
                z-index: 4
                background: url('../../img/menu-background-mid.png')
                background-position: center center
                background-size: cover
                background-repeat: no-repeat
                width: 402px
                height: 546px
                margin-right: -14px
                top: 50%
                transform: translateY(-50%)
                // display: none
                box-shadow: 0 18px 16px $shadow3
            #dark
                z-index: 3
                background: url('../../img/menu-background-dark.png')
                background-position: center center
                background-size: cover
                background-repeat: no-repeat
                width: 367px
                height: 500px
                margin-right: -24px
                box-shadow: 0 18px 16px $shadow3
@media (max-width: 1400px)
    #s3 .container
        max-width: 90vw
        margin-right: 20px
        #price
            margin-left: auto
            margin-right: auto
@media (max-width: 991px)
    #s3 .container
        #price
            margin: -11px auto 6px auto
            #title
                padding-bottom: 24px
                h3
                    font-size: 40px
                h5
                    font-size: 12px
                    line-height: 17px
            .subtitle
                font-size: 20px
            .caption
                font-size: 12px
                letter-spacing: 0.5px
            .pricetag
                font-size: 24px
        #menus
            .menu
                width: 44.5vw
                height: 60.5vw
                justify-content: space-between
                .top
                    margin-top: 4vw
                    margin-bottom: 50px
                    h5
                        font-size: 10px
                h3
                    font-size: 30px
                    line-height: 40px
                    padding-bottom: 15px
                p
                    overflow: auto
                    font-size: 14px
                    width: 33.3vw
                    line-height: 20px
                    padding-bottom: 30px
                .btn
                    width: 120px
                    height: 35px
                    margin: 20px auto 20px auto
                    font-size: 12px
            #mid
                width: 40.6vw
                height: 55.1vw
            #dark
                width: 37vw
                height: 50.5vw
@media (max-width: 600px)
    #s3 .container
        grid-template-columns: 1fr
        #menus
            display: grid
            grid-template-columns: repeat(3, 1fr)
            overflow-x: scroll
            max-width: 100vw
            height: 100%
            grid-gap: 15px
            align-self: center
            margin: 30px
            .menu
                position: relative
                p
                    width: 45vw
                .btn
                    width: 50px
                    margin: 5px auto
                    padding: 0
            #light, #mid, #dark
                width: 266px
                height: 362px
                margin: 0
@media (max-width: 400px)
    #s3 .container #menus
        margin: 10px 0
        .menu
            p
                width: 65vw



                    