
@import "colors"
@import "navigation"
@import "hero"
@import "section1"
@import "section2"
@import "section3"
@import "fonts"

.section
    min-height: 50vh
.container
    width: 80vw
    padding: 0
    margin: 0
    display: flex
    align-content: center