$contWidth: 1300px
@import "colors"
@import "navigation"
@import "hero"
@import "section1"
@import "section2"
@import "section3"
@import "section4"
@import "fonts"

.section
    width: 100%
    max-width: 1600px
    min-height: 20vh
    margin: 0 auto
    
.container
    max-width: $contWidth
    padding: 0 20px
    margin: 0 auto
    display: flex
    align-content: center
    
